/* *{
    margin: 0;
    padding: 0;
} */
html{
    font-size: 10px;
}
body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #E0E8FF;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
  }

  .container {
    width: 42rem;
    height: 62rem;
    margin: 7rem auto;
    background-color: #ffffff;
    border-radius: 20px;
    border: transparent;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.205);
  }

  #hero {
    width: inherit;
    height: auto;
    border-radius: 20px 20px 0 0;
  }

  #head {
    text-align: center;
    color: hsl(223, 47%, 23%);
    margin-top: 2.7rem;
    font-weight: 900;
    font-size: 2.8rem;
  }

  #info {
    width: 31rem;
    text-align: center;
    margin: 2.3rem auto;
    color: hsl(224, 23%, 55%);
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  #price-box {
    background-color: #F8F9FE;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 1.5rem auto;
    padding: 1.5rem;
  }

  #music-icon {
    height: 50px;
  }

  #main-price {
    line-height: 0.9rem;
    justify-content: center;
    margin-top: -1.5rem;
    margin-left: -4rem;
    font-size: 1.5rem;
  }

  #bold {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 1.9rem;
  }

  #price {
    color: hsl(224, 23%, 55%);
  }

  #change {
    font-weight: bold;
    font-size: 1.5rem;
  }

  #change:hover {
    cursor: pointer;
    text-decoration: none;
  }

  #pay-btn {
    min-width: 80%;
    height: 5rem;
    display: block;
    margin: auto;
    border-radius: 15px;
    color: #ffffff;
    background-color: hsl(245, 75%, 52%);
    border: none;
    box-shadow: .2rem 1rem 2rem hsl(245, 75%, 90%);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  #pay-btn:hover {
    background-color: hsla(245, 75%, 52%, 0.801);
  }

  #cancel {
    display: block;
    height: 2rem;
    width: 50%;
    margin: 2.5rem auto 2.5rem auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: hsl(224, 23%, 55%);
    border: transparent;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }


  @media screen and (max-width: 450px) {
    html{
        font-size: 8px;
    }
    body {
        background-color: #E0E8FF;
        background-image: url(/images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-family: 'Red Hat Display', sans-serif;
      }

    /* .container {
      width: 42rem;
      margin: 100px auto;
    } */

    #hero {
      width: 100%;
    }
  }
